@model  HabitBuilder.Core.ViewModels.HabitViewModel

<div class="calendar-view__calendar">
    @foreach (var month in Model.Months)
    {
        <div class="month">
        <h4 class="month__name">@month.MonthName</h4>
        @foreach (var week in month.Days)
        {
            <div class="month__week week">
                @Html.Partial("_WeekPartialView", week)
            </div>
            
        }
        </div>
    }
</div>



<div class="calendar-view__pie">
    <h5 class="pie__description-title">Описание</h5>
    <h4 class="pie__description">@Model.Description</h4>

    <h4 class="pie__category-title">Категория</h4>
    <h4 class="pie__category">@Model.Category.CategoryName</h4>

    <h5 class="pie__reason-title">Причины</h5>
    @foreach (var reason in Model.Reasons)
    {
        <h5 class="pie__reason">@reason.ReasonText</h5>
    }
</div>
