@using HabitBuilderApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="register">
    <div class="register__center-block">
        <div class="register__form">
            <h3 class="register__header">
                Вход
            </h3>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "register__inputs", role = "form" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "register__error" })

                <div class="input">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input__field" })
                    <span class="input__highlight"></span>
                    <span class="input__bar"></span>
                    <label class="input__label">Email</label>
                </div>
                <div class="input">
                    @Html.PasswordFor(m => m.Password, new { @class = "input__field" })
                    <span class="input__highlight"></span>
                    <span class="input__bar"></span>
                    <label class="input__label">Пароль</label>
                </div>


                <button type="submit" class="create-form__submit-button">Войти</button>
            }

        </div>
        @Html.ActionLink("Нет аккаунта? Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "register__additional" })
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}